* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 200px;
}
.container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background-color: yellow;
  position: relative;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
}
.a {
  background-color: red;
  left: -50px;
  top: 100px;
}
.b {
  background-color: green;
  right: 200px;
  top: 100px;
}
.c {
  background-color: blue;
  right: -50px;
  bottom: 100px;
}
