* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 200px;
}
.container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background-color: yellow;
  position: relative;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
}
.a {
  background-color: red;
  left: 0;
  top: 0;
}
.b {
  background-color: green;
  left: 50px;
  top: 50px;
}
.c {
  background-color: blue;
  left: 100px;
  top: 100px;
}
